<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<style>
    label {
        display: inline-block;
        width: 5em;
    }
    input {
        display: inline-block;
        width: 12em;
    }
</style>
<body>
    <div>
        <!-- Form for å legge til bruker i databasen -->
        <h2>Add user</h2>
        <form action="addUser.php" method="post" enctype="multipart/form-data">
            <label for="uname">Uname</label><input type="email" name="uname" /><br />
            <label for="pwd">Password</label><input type="password" minlength="8" name="pwd" /><br />
            <label for="firstName">Firstname</label><input type="text" name="firstName" required/><br />
            <label for="lastName">Lastname</label><input type="text" name="lastName" required/><br />
            <br><input type="submit" name="submit" value="Create user">
            <!-- Status er hentet fra addUser.php med twig. Innholdet i status ligger i $res['status'] -->
            <h4>{{status}}</h4><hr> 
        </form>
    </div>
</body>
</html>